@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Ysabeau+SC:wght@300;400;500;600&display=swap');


:root{
    --escuro:#3A1C00;
    --medio:#643001;
    --claro:#BD7938;
}
*{
   margin: 0px;
   padding: 0px;
}

body{
  background-color:#391c01c9 ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  margin: 0px;
  
 
 

}
header > h1 {
   text-align: center;
   margin: 0px 70px;
   border-radius: 6px;

}
header > p {
   text-align: center;
   font-size: 19px;
   font-family: 'Dancing Script', sans-serif;
   font-weight: 600;
}
header{
   background-image: linear-gradient(to bottom, var(--claro),#ffc38f);
   padding: 0px;
   min-width: 150px;
   
   
  
}
main{
   max-width:650px;
   background-color: white;
   margin: auto;
   padding: 10px;
   
   
   
   
  
  
   text-align: center;

}
h2{
   text-align: center;
 background-image: linear-gradient(to right, white, #a24c00, white);
   font-family: 'Dancing Script', sans-serif;
   font-size: 20px;
}
p {
   text-align: justify;
   padding: 10px;
   text-indent: 8px;
 
}

ul > li{
   text-align: justify;
   text-decoration: none;
   margin-left: 15px;
   
}
nav{
   padding: 30px 10px 12px 10px;
   box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.537);
   
}
 
nav > a:hover {
   background-color: var(--medio);
   color: white;
   
}

nav > a {
   padding: 10px;
   text-decoration: none;
   color: black;
   font-weight: bold;
   
  
}


footer > p {
   text-align: center;
   background-color: var(--medio);
   padding: 8px;
   color: white;
}
a{
   text-decoration: none;
   color: black;
   font-weight: bolder;

}
footer> p > a{
   color: white;
}
div.video {
   background-color: rgb(255, 255, 255);
   margin: 10px -10px 30px -10px;
   position: relative;
   padding:15px ;
   padding-bottom: 59%;


}

div.video > iframe{
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;

}
