@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Goudy+Bookletter+1911&family=Newsreader:ital@0;1&display=swap');

body{
   background-color: #CC9058;
   width: auto;
   border-radius: 6px 4px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
 
 

}
header > h1 {
   background-color: white;
   text-align: center;

}
header > p {
   text-align: center;
   font-size: 18px;
   font-family:'Newsreader', sans-serif ;
   font-style: italic;
}
header{
   background-color: #CC9058;
 
}

main{
   max-width:650px;
   background-color: white;
   
  
   align-items: center;
   text-align: center;
}
h2{
   text-align: center;
   background-color: #C18D4B;
  
}
p {
   text-align: justify;
}

ul > li{
   text-align: justify;
   
}
nav > ul {
   background-color: white;
  
}

footer > p {
   text-align: center;
   font-weight: bolder;
}