@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Ysabeau+SC:wght@300;400;500;600&display=swap');


:root{
    --escuro:#3A1C00;
    --medio:#643001;
    --claro:#BD7938;
}
*{
   margin: 0px;
   padding: 0px;
}

body{
  background-color: var(--escuro);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  margin: 0px;
  
 
 

}
header > h1 {
   background-color: white;
   text-align: center;
   margin: 0px 70px;
   border-radius: 6px;

}
header > p {
   text-align: center;
   font-size: 18px;
   font-family: 'Dancing Script', sans-serif;
   font-weight: 600;
}
header{
   background-color: var(--claro);
   padding: 0px;
   
   
  
}
main{
   max-width:650px;
   background-color: white;
   margin: auto;
   padding: 10px;
   padding-top: 2px;
   
   
   
  
  
   text-align: center;

}
h2{
   text-align: center;
   background-color: #a24c00;
   font-family: 'Dancing Script', sans-serif;
   font-size: 18px;
  
}
p {
   text-align: justify;
}

ul > li{
   text-align: justify;
   text-decoration: none;
   margin-left: 15px;
   
}
nav > ul {
   background-color:rgba(100, 47, 1, 0.407); 
   
  
}


footer > p {
   text-align: center;
   font-weight: bolder;
   background-color: var(--medio);
   padding: 8px;
}